// .my-button {
//     padding: 20px;
// }

img{
    // height: 70vh;
    // width: auto;
    margin: auto;
    width: 70%;
    display: block;
}

.your-turn {
    position: relative;
}

ion-note {
    margin: 1em 2em 2em;
}

#in-this-classroom {
    text-align: center;
    font-weight: bold;
    margin: 0.5em auto;
}

.todo {
    margin-top: 2em;
}
